/* -------------------------------------------------------------------------
 Style Guide Boilerplate Bootstrap Edition v2.0.1
 Repo: https://github.com/kemie/Style-Guide-Boilerplate-Bootstrap-Edition
 Author: Brett Jankord (modified by Kemie Guaida)
 License: MIT
 ---------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
 Layout
 ---------------------------------------------------------------------------- */
@font-face {
  font-family: 'BLOKK';
  src: url('fonts/BLOKKNeue-Regular.eot');
  src: url('fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/BLOKKNeue-Regular.woff2') format('woff2'), url('fonts/BLOKKNeue-Regular.woff') format('woff'), url('fonts/BLOKKNeue-Regular.otf') format('opentype'), url('fonts/BLOKKNeue-Regular.ttf') format('truetype'), url('fonts/BLOKKNeue-Regular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'BLOKK';
    src: url('fonts/BLOKKNeue-Regular.svg') format('svg'); } }

body {
  margin: 0; }

.blokk * {
  font-family: "BLOKK" !important;
  color: #d3d3d3;
  line-height: 100%; }
  .blokk * p {
    font-size: 18px; }
  .blue-tint {
    fill: #89d3f0 !important; }
  .azure-tint {
    fill: #58cff7 !important; }
  .indigo-tint {
    fill: #9458f6 !important; }
  .purple-tint {
    fill: #a586bd !important; }
  .pink-tint {
    fill: #ef78af !important; }
  .red-tint {
    fill: #f37781 !important; }
  .orange-tint {
    fill: #f9ab93 !important; }
  .yellow-tint {
    fill: #eac36f !important; }
  .green-tint {
    fill: #70b8ac !important; }
  .teal-tint {
    fill: #63d9b6 !important; }
  .cyan-tint {
    fill: #5dbecd !important; }
  .white-tint {
    fill: #fff !important; }
  .gray-tint {
    fill: #989ea4 !important; }
  .gray-dark-tint {
    fill: #717579 !important; }
  .navy-tint {
    fill: #5b6b86 !important; }

.sg-grid {
  background-size: 120px 120px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px); }

.gel-avatar {
  background: #ebeff2; }

.sg-img {
  border-radius: 10px;
  border: 1px solid white; }
/* -------------------------------------------------------------------------
 Utility Classes
 ---------------------------------------------------------------------------- */
.sg-container {
  overflow: hidden;
  padding: 16px 24px;
  /* For older browsers */
  padding: 1rem 1.5rem; }

.sg-animated {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.content {
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
  padding: 15px 60px; }
/* -------------------------------------------------------------------------
 Modules
 ---------------------------------------------------------------------------- */
/* Headings
 ---------------------------------------------------------------------------- */
.sg-h1, .sg-h2, .sg-h3 {
  margin-bottom: 1em;
  margin-top: 0; }

.sg-h1 {
  padding-bottom: 0.2em;
  margin-top: 1em;
  margin-bottom: 1.25em;
  border-bottom-width: 3px; }

.sg-h2 {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  text-transform: capitalize;
  border-bottom-width: 1px;
  position: relative; }
  .sg-h2:first-letter {
    color: #57c0e9; }

.sg-h3 {
  padding-bottom: 0.25em;
  border-color: #eee; }

.sg-about {
  margin-top: 2em; }

.row > .page-header {
  padding-top: 2em; }

#sg-banner .jumbotron {
  background: transparent;
  color: white; }
/* Buttons
 ---------------------------------------------------------------------------- */
.sg-btn {
  float: left;
  text-shadow: none !important; }

.sg-btn--top {
  float: right; }

.dropdown-header {
  text-transform: uppercase; }

.sg-btn--select {
  border-radius: 0 0.3em;
  position: absolute;
  right: 5px;
  top: 14px; }

.sg-btn--select.is-active:hover:after {
  background: #111;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  top: 45px;
  color: #fff;
  content: "Selected code ready to be copied";
  font-size: 0.8em;
  display: block;
  right: 5px;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 98; }

.sg-btn--select.is-active:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-width: 0 6px 6px 6px;
  top: 40px;
  content: "";
  display: block;
  left: 75%;
  position: absolute;
  z-index: 99; }
/* Hide specific buttons for use with JS */
.sg-btn--source {
  clear: both;
  border: 1px solid currentcolor; }

.sg-btn--select, .sg-btn--source {
  display: none; }
/* Show specific buttons if JS enabled */
.js .sg-btn--select, .js .sg-btn--source {
  display: block; }
/* Hide specific buttons conditionally */
.legacy .sg-btn--source, .operamini .sg-btn--source {
  display: none; }
/* Sections
 ---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px;
  /* For older browsers */
  margin-bottom: 3rem; }

#sg-banner {
  color: white;
  height: 506px;
  position: relative;
  overflow: hidden; }
  #sg-banner #diamond-background {
    width: 800px;
    height: 800px;
    position: absolute;
    display: inline-block;
    fill: transparent; }
  #sg-banner .top-header {
    padding-top: 40px; }
    #sg-banner .top-header .header-navigation {
      float: right; }
      #sg-banner .top-header .header-navigation ul {
        list-style-type: none;
        margin: 35px 0 0;
        padding: 0;
        width: 100%; }
        #sg-banner .top-header .header-navigation ul li {
          color: #fff;
          float: left;
          font-size: 18px;
          line-height: 1.375;
          margin-left: 40px;
          position: relative;
          font-family: 'Nunito', sans-serif; }
          #sg-banner .top-header .header-navigation ul li a {
            color: #fff;
            transition: all 0.3s ease 0s; }
  #sg-banner .bottom-header {
    text-align: center;
    padding: 130px 0; }
    #sg-banner .bottom-header h1 {
      color: white;
      font-size: 58px;
      line-height: 0.74;
      margin: 0 0 50px; }
    #sg-banner .bottom-header p {
      font-family: 'Nunito', sans-serif;
      font-size: 20px; }
      #sg-banner .bottom-header p a {
        color: white; }

#sg-body {
  margin-top: 30px;
  padding-top: 30px; }

.sg-anchor {
  display: block;
  padding-top: 2em;
  color: #f8f9fa; }
  .sg-anchor:hover {
    color: #f8f9fa;
    text-decoration: none; }
  .sg-anchor:first-letter {
    color: #142c52; }
  .sg-anchor sup {
    font-family: 'Nunito', sans-serif;
    letter-spacing: normal;
    margin-left: 3px;
    top: -15px; }
/* sidebar */
.sg-docs-sidebar {
  margin-top: 20px;
  margin-bottom: 20px; }
  .sg-docs-sidebar #sidebar {
    width: 200px; }
    .sg-docs-sidebar #sidebar.nav > .active > ul.nav {
      max-height: 250px;
      overflow-y: scroll; }

.affix {
  top: 30px; }

#footer {
  background-color: #58585b;
  padding: 30px 0;
  width: 100%; }
  #footer .widget ul li a {
    color: #888;
    line-height: 1.5;
    font-family: Proxima Nova Semibold;
    font-size: 16px;
    transition: all 0.3s ease 0s; }
    #footer .widget ul li a:hover {
      color: #25a2d1; }
  #footer #social-connect a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px; }
  #footer #copy-right {
    color: #939597;
    font-size: 12px;
    margin-top: 15px; }
/* -------------------------------------------------------------------------
 Colors
 ---------------------------------------------------------------------------- */
.sg-brand-primary .sg-color-swatch {
  background: #142c52; }

.sg-gray-lighter .sg-color-swatch {
  background: #f8f9fa; }

.sg-gray-light .sg-color-swatch {
  background: #e9ecef; }

.sg-gray .sg-color-swatch {
  background: #ced4da; }

.sg-gray-dark .sg-color-swatch {
  background: #6c757d; }

.sg-gray-darker .sg-color-swatch {
  background: #212529; }

.sg-brand-success .sg-color-swatch {
  background: #339989; }

.sg-brand-info .sg-color-swatch {
  background: #57c0e9; }

.sg-brand-warning .sg-color-swatch {
  background: #f78764; }

.sg-brand-danger .sg-color-swatch {
  background: #ee3d4b; }

.palete {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 0 0 rgba(226, 228, 231, 0.75);
  -moz-box-shadow: 0 3px 0 0 rgba(226, 228, 231, 0.75);
  box-shadow: 0 3px 0 0 rgba(226, 228, 231, 0.75);
  display: inline-block;
  margin: 15px;
  width: 150px; }

.palete-color {
  position: relative; }

.palete-color, .palete-color__square {
  height: 50px; }

.palete-color__square {
  width: 50%;
  float: left;
  cursor: text; }

.palete-color__square:hover {
  width: 100%;
  position: absolute; }

.palete-color__lighten {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px; }

.palete-color__square.palete-color__lighten:hover {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px; }

.palete-color__darken {
  float: right;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px; }

.palete-color__square.palete-color__darken:hover {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px; }

.palete-color__content {
  padding: 10px; }
/* ############
 STYLES
 ############ */
/* Round */
.palete--round {
  border-radius: 50%;
  text-align: center;
  height: 150px; }
  .palete--round.md {
    width: 125px;
    height: 125px; }
  .palete--round.sm {
    width: 100px;
    height: 100px; }
    .palete--round.sm span {
      margin-top: 24px !important; }

.palete--round .palete-color {
  height: 50%; }

.palete--round .palete-color__square {
  height: 100%; }
  .palete--round .palete-color__square span {
    display: none; }

.palete--round .palete-color__lighten {
  border-top-left-radius: 100%; }

.palete--round .palete-color__square.palete-color__lighten:hover {
  -webkit-border-radius: 1000px 1000px 0 0;
  -moz-border-radius: 1000px 1000px 0 0;
  border-radius: 1000px 1000px 0 0;
  /* Border-radius Greater or equal to width*/ }
  .palete--round .palete-color__square.palete-color__lighten:hover span {
    color: white;
    font-size: 18px;
    display: block;
    margin-top: 34px; }

.palete--round .palete-color__darken {
  border-top-right-radius: 100%; }

.palete--round .palete-color__square.palete-color__darken:hover {
  -webkit-border-radius: 1000px 1000px 0 0;
  -moz-border-radius: 1000px 1000px 0 0;
  border-radius: 1000px 1000px 0 0;
  /* Border-radius Greater or equal to width*/ }
  .palete--round .palete-color__square.palete-color__darken:hover span {
    color: white;
    font-size: 18px;
    display: block;
    margin-top: 34px; }
/* Fonts
 ---------------------------------------------------------------------------- */
.sg-font {
  font-size: 1.8em;
  padding: 0 0 0.2em; }

.sg-font-primary {
  font-family: 'Proxima Nova', sans-serif; }
/* Grid
 ---------------------------------------------------------------------------- */
.show-grid {
  margin: 15px 0; }
  .show-grid div {
    background-color: white;
    padding: 0.5em;
    border: 1px solid #ddd; }
/* Markup
 ---------------------------------------------------------------------------- */
.sg-markup-controls {
  overflow: hidden;
  padding-top: 1.5em;
  clear: both; }

.sg-source {
  position: relative; }

.sg-source pre {
  background: #333;
  border-radius: 0.5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: 0.5em 0.3em; }

.sg-source pre code {
  background: transparent; }

.js .sg-source {
  max-height: 0;
  overflow: hidden; }

.js .sg-source.is-active, .legacy .sg-source, .operamini .sg-source {
  max-height: 2400px; }
/* -------------------------------------------------------------------------
 Prettyprint
 ---------------------------------------------------------------------------- */
.pln {
  color: #fff; }
/* plain text */
@media screen {
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /*.dec, .var { color: #606 }*/
  /* a declaration; a variable name */
  /* a function name */
    .str, .string {
      color: #e6db74; }
    .keyword, .kwd {
      color: #66d9ef; }
    .com, .comment {
      color: #75715e; }
    .typ {
      color: #a6e22e; }
    .lit, .number {
      color: #ae81ff; }
    .tag {
      color: #f92672; }
    .atn {
      color: #a6e22e; }
    .atv {
      color: #e6db74; }
    .fun {
      color: #f00; } }
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060; }

  .kwd {
    color: #006;
    font-weight: bold; }

  .com {
    color: #600;
    font-style: italic; }

  .typ {
    color: #404;
    font-weight: bold; }

  .lit {
    color: #044; }

  .clo, .opn, .pun {
    color: #440; }

  .tag {
    color: #006;
    font-weight: bold; }

  .atn {
    color: #404; }

  .atv {
    color: #060; } }
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left: 1px solid #444;
  margin: 0 0 0 3.3em;
  /* IE indents via margin-left */
  padding: 0; }

ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: 0.8em; }
/* -------------------------------------------------------------------------
 Legacy IE
 ---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1; }
/* End IE 7 Fixes */
/**
 * IE 6 Fixes
 */
pre {
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
  background: white;
  padding: 15px 15px 0;
  border-radius: 4px; }
/* End IE 6 Fixes */
.gel-color {
  background: #fff;
  display: inline-block;
  height: 80px;
  margin: 0 0.5em 0.5em 0;
  padding: 5px;
  position: relative;
  width: 100px; }
  .gel-color.gel-lg {
    width: 140px;
    height: 100px; }
    .gel-color.gel-lg .gel-color-swatch span {
      width: 128px; }
  .gel-color .gel-color-swatch {
    display: block;
    height: 100%;
    width: 100%; }
  .gel-color .gel-color-swatch span {
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    bottom: 5px;
    color: #fff;
    font-size: 0.8em;
    margin: 0;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 88px; }
    .gel-color .gel-color-swatch:hover span {
      opacity: 1; }

.sg-doc {
  background: #ffc none repeat scroll 0 0;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  color: #333;
  display: block;
  min-height: 210px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.15s linear 0s;
  transform: rotate(3deg);
  margin: 15px; }
  .sg-doc:hover {
    transform: rotate(0);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11); }
  .sg-doc ul li {
    list-style: circle;
    margin-bottom: 10px; }

.sg-popover {
  position: relative;
  min-height: 300px; }
/*
 Icons
 */
.ih-item.circle {
  margin-top: 32px;
  border-radius: 50%;
  height: 150px;
  position: relative;
  width: 150px;
  text-align: center; }
  .ih-item.circle .img {
    border-radius: 50%;
    height: 150px;
    position: relative;
    width: 150px; }
    .ih-item.circle .img:before {
      border-radius: 50%;
      box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.35s ease-in-out 0s;
      width: 100%; }
  .ih-item.circle.effect10 .info {
    background: #fff none repeat scroll 0 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.35s ease-in-out 0s;
    padding-top: 30px; }
    .ih-item.circle.effect10 .img {
      transform: scale(1);
      transition: all 0.35s ease-in-out 0s;
      z-index: 11;
      padding-top: 1px; }
      .ih-item.circle.effect10 .img h6 {
        margin-top: 40px; }
    .ih-item.circle.effect10 a {
      cursor: pointer; }
      .ih-item.circle.effect10 a:hover .info {
        opacity: 1;
        transform: scale(1);
        visibility: visible; }
        .ih-item.circle.effect10 a:hover .img {
          transform: translateY(36px) scale(0.5); }
  .ih-item.circle .info {
    backface-visibility: hidden;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0; }

.hll {
  background-color: #ffc; }

.c {
  color: #999; }

.err {
  color: #a00;
  background-color: #faa; }

.k {
  color: #069; }

.o {
  color: #555; }

.cm {
  color: #999; }

.cp {
  color: #099; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #fcc;
  border: 1px solid #c00; }

.ge {
  font-style: italic; }

.gr {
  color: red; }

.gh {
  color: #030; }

.gi {
  background-color: #cfc;
  border: 1px solid #0c0; }

.go {
  color: #aaa; }

.gp {
  color: #009; }

.gu {
  color: #030; }

.gt {
  color: #9c6; }

.kc {
  color: #069; }

.kd {
  color: #069; }

.kn {
  color: #069; }

.kp {
  color: #069; }

.kr {
  color: #069; }

.kt {
  color: #078; }

.m {
  color: #f60; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #366; }

.nc {
  color: #0a8; }

.no {
  color: #360; }

.nd {
  color: #99f; }

.ni {
  color: #999; }

.ne {
  color: #c00; }

.nf {
  color: #c0f; }

.nl {
  color: #99f; }

.nn {
  color: #0cf; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #033; }

.ow {
  color: #000; }

.w {
  color: #bbb; }

.mf {
  color: #f60; }

.mh {
  color: #f60; }

.mi {
  color: #f60; }

.mo {
  color: #f60; }

.sb {
  color: #c30; }

.sc {
  color: #c30; }

.sd {
  color: #c30;
  font-style: italic; }

.s2 {
  color: #c30; }

.se {
  color: #c30; }

.sh {
  color: #c30; }

.si {
  color: #a00; }

.sx {
  color: #c30; }

.sr {
  color: #3aa; }

.s1 {
  color: #c30; }

.ss {
  color: #fc3; }

.bp {
  color: #366; }

.vc {
  color: #033; }

.vg {
  color: #033; }

.vi {
  color: #033; }

.il {
  color: #f60; }

.css .nt + .nt, .css .o, .css .o + .nt {
  color: #999; }
