<header class="main-header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="nav-toggle"> <i class="fa fa-bars"></i></div>
      <!-- <div class="navbar-header hidden-xs hidden-sm">
        <a href="#"><img src="<?php echo ($resURL) ?>img/pageup-logo-white.png" width="100"/></a>
      </div> -->
      <ul class="nav navbar-nav hidden-xs">
        <li><a href="#"><i class="pu-icon pu-icon-logo pu-icon-lg"></i></a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Applicants</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown hidden-xs hidden-sm">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recent items <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Item 1</a></li>
              <li><a href="#">Item 2</a></li>
              <li><a href="#">Item 3</a></li>
            </ul>
          </li>
          <li>
            <form class="navbar-form navbar-left" role="search" _lpchecked="1">
              <div class="form-group">
                <input class="form-control" placeholder="Quick search" type="text" />
              </div>
            </form>
          </li>
        <!-- <li><button class="btn btn-info btn-sm margin-right">Action</button></li> -->
        <li><img class="pu-avatar pu-avatar-sm" src="<?php echo ($resURL) ?>img/avatar/avatar.svg"></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"><span class="fa fa-info-circle"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"> Action 1</a> </li>
            <li><a href="#"> Action 2</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
