<ul class="nav navbar-nav navbar-right">
  <li class="hidden-xs hidden-sm"><a href="#">Jobs</a></li>
  <li class="hidden-xs hidden-sm"><a href="#">Applicants</a></li>
  <li class="hidden-xs hidden-sm"><a href="#">Reports</a></li>
  <li class="hidden-xs hidden-sm"><a href="#">Settings</a></li>
  <li class="dropdown hidden-xs hidden-sm">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recent items <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>
</ul>
