<div class="alert alert-hint alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i aria-hidden="true" class="gel-icon-close"></i>
  </button>
  This section displays recruitment steps linked to application status changes made during the current week
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New application</td>

      <td class="past">

        0

      </td>
      <td class="past">

        0

      </td>
      <td class="past">

        0

      </td>
      <td class="today">
        <a href="#">
          2

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>2</td>
    </tr>
    <tr>
      <td>Online test 2</td>

      <td class="past">
        <a href="#">
          100
        </a>
      </td>
      <td class="past">
        <a href="#">
          82

        </a>
      </td>
      <td class="past">
        <a href="#">
          70

        </a>
      </td>
      <td class="today">
        <a href="#">
          60

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>312</td>
    </tr>
    <tr>
      <td>Assessment 3</td>

      <td class="past">
        <a href="#">
          10

        </a>
      </td>
      <td class="past">
        <a href="#">
          5

        </a>
      </td>
      <td class="past">
        <a href="#">
          6

        </a>
      </td>
      <td class="today">
        <a href="#">
          1

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>22</td>
    </tr>
    <tr>
      <td>Hired - commenced employment</td>

      <td class="past">
        <a href="#">
          22

        </a>
      </td>
      <td class="past">
        <a href="#">
          28

        </a>
      </td>
      <td class="past">
        <a href="#">
          22

        </a>
      </td>
      <td class="today">
        <a href="#">
          29

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>101</td>
    </tr>
    <tr>
      <td>Offer declined</td>

      <td class="past">
        <a href="#">
          1

        </a>
      </td>
      <td class="past">

        0

      </td>
      <td class="past">

        0

      </td>
      <td class="today">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>1</td>
    </tr>

  </tbody>
</table>