<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="past">M</th>
      <th class="past">T</th>
      <th class="past">W</th>
      <th class="today">T</th>
      <th class="">F</th>
      <th class="">S</th>
      <th class="">S</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New application</td>

      <td class="past">

        0

      </td>
      <td class="past">

        0

      </td>
      <td class="past">

        0

      </td>
      <td class="today">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMt39AYXYoFZHV_xOoVrG02iEIlJJcXpPIVd-AhnHkYle-PviPlFagHgD42OTpKbTZDrQS6rsB1udWb69bqL6yLvBP5XmJjGLohn3z7b1f3l0QXf-aLG4waueTlQGcmMBua3idyrUGGXWZVgu87hH0jZKFmWltGFk0iUOLoytWUkNA%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          2

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>2</td>
    </tr>
    <tr>
      <td>Online test 2</td>

      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtpv4jmDBap44XMT7PsMeR0wMhvqNvKsXqzESdbxe5tCPFCq2gAjAyT4mc5wg-Y5BjU6i3ddKeUJKAha1HOD9-Mk55AxdFRjKfFgRDt72MBSLLjXryScMZSDisLwtAL1elOeVrYZPMj-A9AjNEu1p_Vof7InCHD8dBmMnHyeiumnQ%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          100

        </a>
      </td>
      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtw2AJ7221Lm5LyHkvs2G2GWKmFa1drERDqQWm2laRpGyVwZ3ksz5HFQR7avtmCIcGvk80aLjz1tWCb7XJ6QzafmAxUhqLkRbT1-XydVxhokWlGHNmnvZ56rfIxa1IXc0WoO6DkO1YeUXGH1TL8XDRySR59UnPK8cXCMqbPmBRJEI%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          82

        </a>
      </td>
      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtKW2YqJRl7JXgJVwpFi3nvntxO49Mq_k1nXJ0CPejfCJNsduXez6S73n3hA25iGBMowKQYizz24fX6dGYVZs5IaMTtLxTZjCaf7dmwo_IUbepWI31dNi0z8U_3eo8jFVjsa7vsXwbakzxJumQ9pNV9iBd4XWG-gAgbiXXnpbVsII%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          70

        </a>
      </td>
      <td class="today">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtfrPwYwryulgdHgn_DbvqxqEjvboHabsVqWeQHTysFMNT23do0e9P7sqWVR0N1RYDdte_uZk1mUAZao2zVFW57bKwgvQNEU897tt04H1NBE739FmlmmMuc-4LuO7JJdsGnYn1IxWc97aWDM1KK-y2nhAsCDrhlgKUW_mE7i1HuXQ%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          60

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>312</td>
    </tr>
    <tr>
      <td>Assessment 3</td>

      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtbj5M5GPqb4s9HUFvjYlKqI5Y9IX6MgII49tLqo56OAoBFCznaiVsJNZgh6GmHP-8IcVsGvRZHke_d4QRTkEXb78YICOvAJVdeQsuxeV56-BFBuYtNRUUP5wlUEfLi8uHPzyRfilXyTgDOyvSz9uBhL14KEf5l29PbXtkv5iswN0%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          10

        </a>
      </td>
      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtVykXfjuvqhDhHKPz_cpEWighT1c1WTbTtsJYIojuv_VTT3BMPxDK5TSrXFCY9SuPLL_y1pK6fRDdOqlV8A8jvY9Czz4xjOfzLMvkvV_1uoQWeZPKpXYZINyAS8gUbHGWQYn8mQkbsYwOINVD8-GWLqy7FV0rIpal7rh2rKeXpyI%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          5

        </a>
      </td>
      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMt42-J5j92x68mKhjJe6YBupYS1KMseypdzij-Au2mGkEQwuzRDSrIdk0QWSSz8JAN15JjU5PY2sB9Vcywiwe46at6XkWEBhIXpWEq7QLfwY4fT0yoFS1DiVidsljbO0MizTappAhs4TySzDQTqR-7uaGBmyvFY54DOL7uIfCMJdI%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          6

        </a>
      </td>
      <td class="today">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtRF_Gfqyo03QsM50GNzoyyJfrw8SNZiRzLVm3b3HH0Uv3qkTXDz_vtblH5gFmu2zoWlmVKiSsX0XMV2EItO5Dq5ceFwzBqvBZVt4ozMotTAvMdIPzKKEuFCTjwf_23-gpn8oHm9ea4iqe6HV2Sc7XEXs0ZdDOVST9mIBiiYphH5E%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          1

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>22</td>
    </tr>
    <tr>
      <td>Hired - commenced employment</td>

      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtrpassKA_lg6gmMMEzoZQ-RlApVTvyTx_Op5HY9RxdL2i3ydLygkYypZX8IQJ8BXx3zeJFZ73_-jyfLcJZ3uPEuXymu4J7xY-V4Rwbt9QU4l6yvVajcerBAx5vEJPO4EmGNmu8r0F9A9qzW3kEaVPyvMNlyy9YzHQiTP9PuPBwp4%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          22

        </a>
      </td>
      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtdGgEpXuGZ6oXCct8bJTaABA3q13fxL_ltzMVgpWFR-vPe5EA2ztNacGOmtUUnTHJAl3XL5lYNaYu6XZ7RNwH1RmhXFS1dGA1hepB_Yo0CyR_gomFyVwJys3LZEyKfeiBpmafEjZ0HIFN3XeYMq7EK_GZNa5y3ygUIsIDX1o7J5w%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          28

        </a>
      </td>
      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtB0YJYn8DU10ws6asrPuRHOfw0K5pOpuC0_3tjDggJbzuxGOWTMZWRrHIeeHL8pc1dZy6efXXvnp1e1xGOHetwhRV5BFcJNofQ2Z9kzbvVrEtPiXX1rTboPCAZhfRYBau-4E2QhWXn3aUHJnWx9BCcVAC6-ykiTtfxgH2v8jd5oo%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          22

        </a>
      </td>
      <td class="today">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtCB8fUdb97JN8vuOyuN0gmdQdMw-8xVafXiKcEbv88SM2L3Fuc7g4cFsUuqxn2LyAZLKkS6UxA2YvoqgFlQwim5WifcQUQb8XNPvX_-cqY2GbGseg5r0_gDqfOIB9njaK6Lb5r_qVZ0PLK4R1GjJfKB2g-9U-9cODnqlYqfpX3g4%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          29

        </a>
      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>101</td>
    </tr>
    <tr>
      <td>Offer declined</td>

      <td class="past">
        <a
          href="/beta/v5.3/provider/ManageActivities/manageActivities.asp?sData=UFUtVjMtjFfLB2JxXtR4yZqbOQXQ7bWKKO3L5E89E07puc_0yp1TFgUnRfUmIxpZUb1LrETdYLY1rBUYSwPfD2ZcXDld4MaLi90QWRJMzvGNaCO9hA-Z-zLQPiciiKznetU_kd84_M8qrbYT6LZJXParzEdZJm3-Caa0nBPjO9onz0z9GQk%7e"
          onclick="launchNewWindow(this.href,800,600); return false;">
          1

        </a>
      </td>
      <td class="past">

        0

      </td>
      <td class="past">

        0

      </td>
      <td class="today">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>
      <td class="">

        0

      </td>

      <td>1</td>
    </tr>

  </tbody>
</table>