<div id="gel-main-masthead" roll="masthead">
  <div class="container">
    <div class="row d-flex flex-nowrap justify-content-center">
      <div class="border-right pr-3">
        <a href="#_" class="circle" style="width:4rem; height:4rem">142</a>
        Total Jobs
      </div>
      <div class="d-flex align-self-stretch" style="position:relative; overflow: hidden;">
        <button type="button" class="order-1 btn btn-link btn-sm scroller-left-btn p-0">
          <i class="gel-icon-angle-left gel-icon-2x" aria-hidden="true"></i>
          <span class="sr-only">Scroll left</span>
        </button>
        <button type="button" class="order-3 btn btn-link btn-sm scroller-right-btn p-0">
          <i class="gel-icon-angle-right gel-icon-2x" aria-hidden="true"></i>
          <span class="sr-only">Scroll right</span>
        </button>
        <section class="order-2 scroll-horizontal-shadow noscrollbar" data-control="scroller-wrapper">
          <div data-control="scroller-content" class="job-status-filters" aria-label="job status filters">
            <div class="filter">
              <input type="checkbox" id="f-1"/>
              <label for="f-1" class="circle">5
              </label>
              <label for="f-1">Pending Brief
              </label>
            </div>
            <div class="filter">
              <input type="checkbox" id="f-2"/>
              <label for="f-2" class="circle">8<sub class="dot-red">
                  <span class="sr-only">notification indicator</span></sub>
              </label>
              <label for="f-2">Internal Advertising</label>
            </div>
            <div class="filter">
              <input type="checkbox" id="f-3"/>
              <label for="f-3" class="circle">31</label>
              <label for="f-3">Finding Talent</label>
            </div>
            <div class="filter">
              <input type="checkbox" id="f-4"/>
              <label for="f-4" class="circle">1</label>
              <label for="f-4">External Sourcing</label>
            </div>
            <div class="filter">
              <input type="checkbox" id="f-5"/>
              <label for="f-5" class="circle">2</label>
              <label for="f-5">Screening</label>
            </div>
            <div class="filter">
              <input type="checkbox" id="f-6"/>
              <label for="f-6" class="circle">17<sub class="dot-red">
                  <span class="sr-only">notification indicator</span></sub>
              </label>
              <label for="f-6">HM Interviewing</label>
            </div>
            <div class="filter">
              <input type="checkbox" id="f-7"/>
              <label for="f-7" class="circle">9</label>
              <label for="f-7">Background Checks</label>
            </div>
            <!-- <div class="filter"> <input type="checkbox" id="f-8"/> <label for="f-8" class="circle">35<sub class="dot-red"> <span class="sr-only">notification indicator</span></sub> </label> <label for="f-8">Security / Offer Check</label> </div> <div
            class="filter"> <input type="checkbox" id="f-9"/> <label for="f-9" class="circle">19</label> <label for="f-9">Offer Confirmation</label> </div> -->
            <?php for ($x =1; $x <= 5; $x++) {?>
            <div class="filter">
              <input type="checkbox" id="f-11"/>
              <label for="f-10" class="circle">21</label>
              <label for="f-10">Job Statuses</label>
            </div>
            <?php } ?>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>