<?php for ($r=0; $r <= 6; $r++) {?> 
    <section class="gel-doc-section card mb-5" id="section<?php echo 2*$r+1 ?>" >
        <h3 aria-hidden="true">Position Details</h3>
        <dl class="row mb-0 d-print-flex" title="Position Details">
            <span class="col-md-6 mb-3">
                <dt>Department</dt>
                <dd>Technical Education</dd>
            </span>
            <span class="col-md-6 mb-3">
                <dt>Immediate Supervisor</dt>
               <dd>Assigned Department Chair</dd>
            </span>
            <span class="col-md-6 mb-3">
                <dt>Salary</dt>
               <dd>Level 3, $40,000 – $55,000</dd>
            </span>
            <span class="col-md-6 mb-3">
                <dt>FLSA</dt>
               <dd>Exempt</dd>
            </span>
            <span class="col-md-6 mb-3">
                <dt>Scheduled Appointment Type</dt>
               <dd>Full Time </dd>
            </span>
            <span class="col-md-6 mb-3">
                <dt>Work Schedule</dt>
               <dd>9 month position</dd>
            </span>
            <span class="col-md-6 mb-3">
                <dt>Employee Retirement System</dt>
               <dd>PSRS position</dd>
            </span>
            <span class="col-md-12 mb-3">
                <dt>Aspanitional Schedule Details:</dt>
               <dd>Responsible for 15 credit hours of instruction per fall and spring semester.  Allowed to teach two classes for overload per semester.  Over two classes requires approval of Dean and Provost.</dd>
            </span>
            <span class="col-md-12">
                <dt>Position Summary:</dt>
               <dd>The instructor is responsible for developing and implementing the daily lesson plans and activities for the assigned classes.  The instructor is also responsible for creating a classroom environment that implements best practices, supports industry standards, and engages students in career and technical education3.</dd>
            </span>
        </article>      
    </section> 
    <section class="gel-doc-section card mb-5" id="section<?php echo 2*$r+2 ?>">
            <h3 aria-hidden="true">Duties & Responsibilities</h3>
            <dl class="row mt-3 mb-0 d-print-flex" title="Duties & Responsibilities">
                <span class="col-md-12 mb-3">
                    <dt>Essential Job Duties:</dt>
                    <dd>
                         *	Maintain and assume responsibility for the assigned classroom environment.
                    <br> *	Develop and implement daily lesson plans that follow approved curriculum, support industry      	standards, and are aligned with appropriate assessments.
                    <br> *	Actively engage and interact with students using intentional best practice teaching strategies.
                    <br> *	Plan and prepare the learning environment with needed materials and supplies.
                    <br> *	Develop a course syllabus for each class taught and provide a copy to students and 
                        department chair at the beginning of the semester.
                    <br> *	Maintain appropriate record keeping for assigned classes to include student attendance,  	record of grades earned, and other related classroom information.
                    <br> *	Maintain minimum contact hour teaching assignment as provided by college policy.
                    <br> *	Schedules and keep a minimum of five office hours per week convenient to students.
                    <br> *	Demonstrates professional conduct, positive attitude, and supportive culture.  
                    <br> *	Effectively collaborate with colleagues and industry partners to build positive relationships  	within the OTC environment and the community.
                    <br> *	Assist with curriculum development and modification of programs to align curriculum with  	industry-based demands, accreditation and certification requirements, and program operation,  	as necessary.
                    <br> *	Participate in departmental, division, committee, college meetings and decisions. 
                    <br> *	Maintain confidentiality of students, parents/guardians, and fellow staff members, as well as  	records and all information.
                    <br> *	Assist in aspanressing student concerns regarding advisement, placement, and course 	difficulties.
                    <br> *	Works with program advisory committees; serve as partners with local industry.
                    <br> *	Facilitate student recruitment; assist in the promotion of programs.
                    <br> *	Complete professional development training hours and maintain appropriate professional 	certification, as necessary.
                    <br> *	Participate in professional organizations, as appropriate. 
                    <br> *	Communicates effectively with departmental faculty by responding to emails within 48 hours.
                    <br> *	Assist with textbook adoption process.
                    <br> *	Sponsors student clubs and/or organizations, as appropriate.
                    <br> *	Exhibit exemplary attendance and punctuality. 
                    <br> *	Comply with college policies and procedures.
                    <br> *	Perform other duties as assigned, including attending college functions (e.g., commencement).  
                    <br> *	Serve on committees as requested.
                    <br> *	Attend community/professional events as requested.
                    <br> *	Perform assigned responsibilities, duties, and tasks according to established practices, 	procedures, techniques, and standards in a safe manner and with minimal supervision.
                    </dd>
                </span>
            </dl>    
    </section>   
<?php } ?>      

