<!-- <section class="gel-form-section">
    <div class="form-group w-50">
        <label for="title" class="control-label">In what country wa?</label>
        <input id="title" class="form-control" type="text" value="">
    </div>
    <div class="form-group w-50">
        <label for="title" class="control-label">Date </label>
        <input class="form-control" type="date" value="">
    </div>
    <div class="form-group w-50">
        <label for="exampleFormControlSelect1">Languages</label>
        <select
            id="exampleFormControlSelect1" class="form-control"><option
                value="en"> </option><option value="en-us">English (US)</option><option
                value="es">Español (Spanish)</option><option value="de">Deutsch
                (German)</option><option value="tr">Türkçe (Turkish)</option><option
                value="zh-s">简体中文 (Chinese, Simplified)</option><option
                value="ja">日本語 (Japanese)</option><option value="nl">Nederlands
                (Dutch)</option></select>
    
    </div>
    <div class="form-group">
        <label for="inputState">State</label>
        <div class="row">
            <div class="col-md-4 mb-2 mb-lg-0">
                <select id="inputState" class="form-control">
                <option selected> </option>
                <option>...</option>
                </select>
            </div>
            <div class="col-md-4 mb-2 mb-lg-0">
                    <select id="inputState" class="form-control">
                    <option selected> </option>
                    <option>...</option>
                    </select>
                </div>
            <div class="col-md-4 mb-2 mb-lg-0">
                <input type="text" class="form-control" id="inputZip">
            </div>    
        </div>        
    </div>

    <div class="form-group">
        <label class="control-label">Please confirm the type </label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio1" value="option1"
                name="radioInline1">
            <label for="inlineRadio1">I have made a
                separate
                application/enquiry to the ATO for a new or
                existing TFN.</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2"
                name="radioInline1">
            <label for="inlineRadio2">I have made a
                separate
                application/enquiry
                existing TFN.</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2"
                name="radioInline1">
            <label for="inlineRadio2">I have made a
                separate
                application/enq</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2"
                name="radioInline1">
            <label for="inlineRadio2">Other</label>
        </div>
    </div>
    <div class="form-group">
        <label for="field6" class="control-label">Explanation
            (if needed):</label>
        <div class="">
            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="1-1">
                        <label for="1-1">
                            Column 1-1 </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="1-2">
                        <label for="1-2">
                            Column 1-2 </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="1-3">
                        <label for="1-3">
                            Column 1-3 </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="1-4">
                        <label for="1-4">
                            Column 1-4 </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="1-5">
                        <label for="1-5">
                            Column 1-5 </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="1-6">
                        <label for="1-6">
                            Column 1-6 </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group"><label for="exampleFormControlTextarea1">Introduction</label><a
            href="#" data-container="body" data-toggle="popover"
            data-placement="right" data-content="Vivamus sagittis lacus vel
            augue laoreet rutrum faucibus." aria-label="help" class="link-alt"><i
                class="gel-icon-help-o"></i></a><textarea
            id="exampleFormControlTextarea1" rows="3" class="form-control"></textarea></div>
</section> -->

<div class="form-group">
    <label for="title" class="sr-only">Position description title</label>
    <input id="title" class="form-control p-4 text-24" type="text" value=""
        placeholder="Untitled Position Description">
</div>
<fieldset id="section1" class="gel-form-section" tabindex="1">
    <legend class="sr-only">Incumbent</legend>
    <h3 aria-hidden="true">Incumbent</h3>
    <div class="form-group w-50">
        <label for="incumbent" class="control-label">Current or previous
            incumbent name</label>
        <input id="incumbent" class="form-control" type="text" value="">
    </div>
</fieldset>
<fieldset id="section2" class="gel-form-section" tabindex="1">
    <legend class="sr-only">Reason for Request</legend>
    <h3 aria-hidden="true">Reason for Request</h3>
    <div class="form-group">
        <label for="reason" class="control-label">Please provide a reason for
            creation/edit of this position description</label>
        <select id="reason" class="form-control w-50">
            <option selected>New Position</option>
            <option>Change of Duty</option>
            <option>Update of Position Description</option>
        </select>
    </div>
</fieldset>
<fieldset id="section3" class="gel-form-section" tabindex="1">
    <legend class="sr-only">Position Details</legend>
    <h3 aria-hidden="true">Position Details</h3>
    <div class="form-group w-50">
        <label for="classification" class="control-label required">Position
            classification</label>
        <input id="classification" class="form-control" type="text" value=""
            required />
    </div>
    <div class="form-group w-50">
        <label for="reason" class="control-label">Department</label>
        <select id="reason" class="form-control">
            <option value="">Select</option><option value="Applied
                mathematics">Applied mathematics</option><option
                value="Biomedical engineering">Biomedical engineering</option><option
                value="Earth &amp; environmental science">Earth &amp;
                environmental science</option><option value="Statistics">Statistics</option><option
                value="Computer science">Computer science</option><option
                value="Asian studies">Asian studies</option><option
                value="English">English</option><option value="Philosophy">Philosophy</option><option
                value="Medicine">Medicine</option>
        </select>
    </div>
    <div class="form-group w-50"><label
            for="root_positionDetails_division">Division</label><select
            id="root_positionDetails_division" class="form-control"><option
                value="">Select</option><option value="Research centers">Research
                centers</option><option value="Administration &amp;
                finance">Administration &amp; finance</option><option
                value="Business">Business</option><option value="Science">Science</option><option
                value="Social Science">Social Science</option><option
                value="Engineering &amp; applied science">Engineering &amp;
                applied science</option><option value="Arts &amp;
                humanities">Arts &amp; humanities</option><option
                value="Operations">Operations</option></select></div>

    <div class="form-group w-50"><label
            for="root_positionDetails_effectiveDate">Effective date</label><input
            class="form-control" type="date"
            id="root_positionDetails_effectiveDate" label="Effective date"
            placeholder="" value="2020-06-04"></div>
    <div class="form-group w-50"><label
            for="root_positionDetails_salary" class="required">Salary</label><div
            class="input-group"><div class="input-group-prepend"><span
                    aria-hidden="true" class="input-group-text">$</span></div><input
                class="form-control" id="root_positionDetails_salary"
                label="Salary" required="" type="text" step="any"
                maxlength="19" value="96,255" required></div></div>
    <div class="form-group"><label
            for="root_positionDetails_skillsKnowledge" class="required">Skills
            and knowledge</label><textarea
            id="root_positionDetails_skillsKnowledge" class="form-control"
            placeholder="" required="" rows="5" required></textarea></div>
    <div class="form-group"><label
            for="root_positionDetails_preferredQualifications">Preferred
            qualifications</label><textarea
            id="root_positionDetails_preferredQualifications"
            class="form-control" placeholder="" rows="5"></textarea></div>
    <div class="form-group w-50"><label
            for="root_positionDetails_appointmentType">Appointment type</label><input
            class="form-control" id="root_positionDetails_appointmentType"
            label="Appointment type" placeholder="eg: Staff" type="text"
            value="Academic"></div><div class="form-group w-50"><label
            for="root_positionDetails_workSchedule">Normal
            work schedule</label><select
            id="root_positionDetails_workSchedule" class="form-control"><option
                value="">Select</option><option value="M-F 8:30am - 5pm">M-F
                8:30am - 5pm</option><option value="S-S 8.30am - 3pm">S-S
                8.30am - 3pm</option><option value="Variable">Variable</option></select></div>
</fieldset>

<fieldset id="section4" class="gel-form-section" tabindex="1">

    <legend class="sr-only">Background Checks</legend>
    <h3 aria-hidden="true">Background Checks</h3>
    <div class="form-group"><label
            for="root_backgroundChecks_backgroundCheck">Standard background
            check</label><select id="root_backgroundChecks_backgroundCheck"
            class="form-control w-50"><option value="">Select</option><option
                value="Yes">Yes</option><option value="No">No</option><option
                value="N/A">N/A</option></select></div>
    <div class="form-group"><label
            for="root_backgroundChecks_backgroundCheck">Drug screen</label><select
            id="root_backgroundChecks_backgroundCheck" class="form-control
            w-50"><option value="">Select</option><option value="Yes">Yes</option><option
                value="No">No</option><option value="N/A">N/A</option></select></div>
    <div class="form-group"><label
            for="root_backgroundChecks_backgroundCheck">MVR</label><a href="#_"
            id="popover-mvr" data-container="body" data-toggle="popover"
            data-placement="right" data-content="An MVR check stands for “Motor
            Vehicle Report” check or “Motor Vehicle Record" aria-label="help"
            class="link-alt"><i class="gel-icon-help-o"></i></a> <select
            id="root_backgroundChecks_backgroundCheck" class="form-control
            w-50"><option value="">Select</option><option value="Yes">Yes</option><option
                value="No">No</option><option value="N/A">N/A</option></select></div>
    <div class="form-group"><label
            for="root_backgroundChecks_backgroundCheck">Physical</label><select
            id="root_backgroundChecks_backgroundCheck" class="form-control
            w-50"><option value="">Select</option><option value="Yes">Yes</option><option
                value="No">No</option><option value="N/A">N/A</option></select></div>
</fieldset>


<fieldset id="section5" class="gel-form-section" tabindex="1">
    <legend class="sr-only">Physical Demands
    </legend>
    <div class="d-flex justify-content-between">
        <h3 aria-hidden="true">Physical Demands
        </h3>
        <div class="mt-1">
            <span>Required</span>
            <div class="toggle toggle-primary d-inline-block">
                <label><input type="checkbox" checked="checked"><span>&nbsp;</span></label>
            </div>
        </div>
    </div>
    <div class="form-group" id="physical-list">
        <label class="required">Please select physical demands from list
            below</label>

        <div class="row" id="root_physicalDemands_demands"><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_0"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_0">Bending</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_1"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_1">Carrying</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_2"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_2">Climbing</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_3"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_3">Crawling</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_4"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_4">Driving</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_5"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_5">Grasping</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_6"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_6">Lifting</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_7"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_7">Pulling/Pushing</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_8"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_8">Reaching</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_9"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_9">Repetitive
                        movements</label></div></div><div class="col-md-4"><div
                    class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_10"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_10">Sitting</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_11"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_11">Squating/Kneeling</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_12"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_12">Standing</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_13"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_13">Twisting</label></div></div><div
                class="col-md-4"><div class="checkbox checkbox-default"><input
                        id="checkbox-root_physicalDemands_demands_14"
                        type="checkbox"><label
                        for="checkbox-root_physicalDemands_demands_14">Walking</label></div></div></div>
    </div>
    <div class="form-group field field-string false"><label
            for="root_physicalDemands_additionalPhysicalDemands">Additional
            physical demands or work conditions</label><textarea
            id="root_physicalDemands_additionalPhysicalDemands"
            class="form-control" placeholder="" required="" rows="5"></textarea></div>
</fieldset>


<!-- <section class="gel-form-section" tabindex="1">
    <fieldset>
        <legend class="sr-only">Background Checks</legend>
        <h3 aria-hidden="true">Background Checks</h3>
    </fieldset>
</section>    -->