 <fieldset class="form-section " id="section1" tabindex="1">
    <h3 class="form-section-title">Job Requisition Information</h3>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Recruitment Reason:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>

        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Job Family Framework Project
            Submission:</label>
        <div class="col-sm-7">
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio1" value="option1"
                    name="radioInline1">
                <label for="inlineRadio1">Yes</label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio2" value="option2"
                    name="radioInline1" checked>
                <label for="inlineRadio2">No</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Direct Appointment Type:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">OA re-employment pool:</label>
        <div class="col-sm-7">
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio2-1" value="option1"
                    name="radioInline2" checked>
                <label for="inlineRadio2-1">Yes</label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio2-2" value="option2"
                    name="radioInline2">
                <label for="inlineRadio2-2">No</label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio2-3" value="option4"
                    name="radioInline2">
                <label for="inlineRadio2-3">N/A</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Internal Search Requested:</label>
        <div class="col-sm-7">
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio3-1" value="option1"
                    name="radioInline3" checked>
                <label for="inlineRadio3-1">Yes</label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio3-2" value="option2"
                    name="radioInline3">
                <label for="inlineRadio3-2">No</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Requisition
            No.:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" placeholder="eg:
                525340" />
            <small id="emailHelp" class="form-text text-muted"> Leave blank to
                automatically create a reference No.</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Posting
            Title:* </label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="Retail
                Customer Service Officer - Melbourne" />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Position
            Classification:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text"
                value="NonteachProf/Uncl 12mo .5+" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Rank:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>

        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">FTE:*
        </label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="1.0" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5">Internal Search Requested:</label>
        <div class="col-sm-7">
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio3-1" value="option1"
                    name="radioInline3" checked>
                <label for="inlineRadio3-1">9 Month</label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio3-2" value="option2"
                    name="radioInline3">
                <label for="inlineRadio3-2">12 Month</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Position
            Number:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="Interim
                Coordinator LDCE" />
        </div>
    </div>
</fieldset>


 <fieldset class="form-section " id="section2" tabindex="1">
    <h3 class="form-section-title">Position Budget</h3>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Budgeted
            Salary:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="$45,000"
                />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Position
            Funding:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Index:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="QHLOPS" />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Account Code:
        </label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="10103" />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Percentage:
        </label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="100" />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Explanation
            (if needed):</label>
        <div class="col-sm-7">
            <textarea class="form-control"></textarea>
        </div>
    </div>
</fieldset>


 <fieldset class="form-section " id="section3" tabindex="1">
    <h3 class="form-section-title">Position Details</h3>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Anticipated
            Start Date:*</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="Jul 1,
                2020" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">VP Area:*</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">School/College/Admin Unit:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Division/Admin Sub Unit:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Department or Program:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Timesheet
            Org:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="267105" />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Site:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="Eugene" />
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-5 text-right required">Reports to
            position:</label>
        <div class="col-sm-7">
            <input id="title" class="form-control" type="text" value="Associate
                Dean of Students" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Type of Position:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Appointment Type:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Duration:</label>
        <div class="select col-sm-7">
            <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">FLSA Exempt?: </label>
        <div class="col-sm-7">
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio1" value="option1"
                    name="radioInline1">
                <label for="inlineRadio1">Yes</label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" id="inlineRadio2" value="option2"
                    name="radioInline1" checked>
                <label for="inlineRadio2">No</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Department Summary:</label>
        <div class="col-sm-7">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Position Summary:</label>
        <div class="col-sm-7">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Minimum Qualifications:</label>
        <div class="col-sm-7">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Professional Competencies:</label>
        <div class="col-sm-7">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 text-right">Preferred Qualifications:</label>
        <div class="col-sm-7">
            <textarea class="form-control"></textarea>
        </div>
    </div>
</fieldset>

 <fieldset class="form-section " id="section4" tabindex="1">
    <h3 class="form-section-title">Job Duties</h3>
    <div class="form-group row">
        <label class="col-sm-5">Include job duties in performance reviews?</label>
        <div class="col-sm-7">
            <div class="toggle toggle-primary">
                <label><input type="checkbox" checked="checked"><span>&nbsp;</span></label>
            </div>
        </div>
    </div>
    <table class="table table-borderless table-striped">
        <thead>
            <tr>
                <th scope="col">% of time</th>
                <th scope="col">Duties / Responsibilities</th>
                <th scope="col">Essential / Incidental</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">15</th>
                <td data-title="Column 1">Mark</td>
                <td data-title="Column 2">Otto</td>
                <td data-title="Column 3">@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td data-title="Column 1">Jacob</td>
                <td data-title="Column 2">Thornton</td>
                <td data-title="Column 3">@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td data-title="Column 1">Larry</td>
                <td data-title="Column 2">Bird</td>
                <td data-title="Column 3">@twitter</td>
            </tr>
        </tbody>
    </table>
</fieldset>

 <fieldset class="form-section " id="section5" tabindex="1">
    <h3 class="form-section-title">Background Checks</h3>
    <p>All positions are subject to criminal background check. Additional checks
        are noted below.</p>
</fieldset>
 <fieldset class="form-section " id="section6" tabindex="1">
    <h3 class="form-section-title">Search Committee</h3>
</fieldset>
 <fieldset class="form-section " id="section7" tabindex="1">
    <h3 class="form-section-title">Advertising Details</h3>
</fieldset>  <fieldset class="form-section " id="section8"
    tabindex="1">
    <h3 class="form-section-title">Human Resources Only</h3>
</fieldset> <fieldset class="form-section " id="section9" tabindex="1">
    <h3 class="form-section-title">Users & Approvals</h3>
</fieldset>