<section class="gel-doc-section card mb-5" id="section-1" tabindex="1">
    <h3>Job Requisition Information</h3>
    <div class="form-group">
      <label class="control-label">Recruitment Reason:</label>
      <div class="select">
        <select class="form-control">
          <option>Option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>

      </div>
    </div>
    <div class="form-group">
        <label class="d-block">Job Family Framework Project Submission:</label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio1" value="option1" name="radioInline1">
            <label for="inlineRadio1">Yes</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2" name="radioInline1" checked>
            <label for="inlineRadio2">No</label>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label">Direct Appointment Type:</label>
      <div class="select">
        <select class="form-control">
          <option>Option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </div>
    </div>
    <div class="form-group">
        <label class="d-block">OA re-employment pool:</label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2-1" value="option1" name="radioInline2" checked>
            <label for="inlineRadio2-1">Yes</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2-2" value="option2" name="radioInline2">
            <label for="inlineRadio2-2">No</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2-3" value="option4" name="radioInline2">
            <label for="inlineRadio2-3">N/A</label>
        </div>
    </div>
    <div class="form-group">
        <label class="d-block">Internal Search Requested:</label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio3-1" value="option1" name="radioInline3" checked>
            <label for="inlineRadio3-1">Yes</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio3-2" value="option2" name="radioInline3">
            <label for="inlineRadio3-2">No</label>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Requisition No.:</label>
        <input id="title" class="form-control" type="text" placeholder="eg: 525340"/>
        <small id="emailHelp" class="form-text text-muted"> Leave blank to automatically create a reference No.</small>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Posting Title:*	</label>
        <input id="title" class="form-control" type="text" value="Retail Customer Service Officer - Melbourne"/>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Position Classification:</label>
        <input id="title" class="form-control" type="text" value="NonteachProf/Uncl 12mo .5+"/>
    </div>
    <div class="form-group">
        <label class="control-label">Rank:</label>
        <div class="select">
          <select class="form-control">
            <option>Option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
          </select>
  
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">FTE:*	</label>
        <input id="title" class="form-control" type="text" value="1.0"/>
    </div>
    <div class="form-group">
        <label class="d-block">Internal Search Requested:</label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio3-1" value="option1" name="radioInline3" checked>
            <label for="inlineRadio3-1">9 Month</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio3-2" value="option2" name="radioInline3">
            <label for="inlineRadio3-2">12 Month</label>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Position Number:</label>
        <input id="title" class="form-control" type="text" value="Interim Coordinator LDCE"/>
    </div>
</section>


<section class="gel-doc-section card mb-5" id="section-1" tabindex="1">
    <h3>Position Budget</h3>
    <div class="form-group">
        <label for="title" class="control-label required">Budgeted Salary:</label>
        <input id="title" class="form-control" type="text" value="$45,000"/>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Position Funding:</label>
        <div class="select">
            <select class="form-control">
              <option>Option 1</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Index:</label>
        <input id="title" class="form-control" type="text" value="QHLOPS"/>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Account Code:	</label>
        <input id="title" class="form-control" type="text" value="10103"/>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Percentage:	</label>
        <input id="title" class="form-control" type="text" value="100"/>
    </div>
    <div class="form-group">
        <label for="title" class="control-label required">Explanation (if needed):</label>
        <textarea class="form-control"></textarea>
    </div>
</section>  


<section class="gel-doc-section card mb-5" id="section-1" tabindex="1">
    <h3>Position Details</h3>
</section>    
