<section class="card mb-5">
    <h3>Residency status</h3>
    <p>Current Australian Government legislation requires us to ensure all Coles team members have the right to work within Australia.</p>
    <p>As part of this recruitment process we will ask you to provide consent for the use of your personal information for the purpose of confirming your legal entitlement to work in Australia. </p>
    <p>You will be required to provide proof of your right to work in Australia if you are successful in gaining a position with Coles.</p>
    <p>Proof of Australian working rights is demonstrated via the presentation of a Passport, or Australian birth certificate with photo ID, or Australian citizenship certificate with photo ID.</p>

    <div class="form-group">
        <label class="control-label required">Are you currently authorised to work in Australia?</label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio1" value="option1" name="radioInline1">
            <label for="inlineRadio1">Yes, I am an Australian citizen</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2" name="radioInline1">
            <label for="inlineRadio2">Yes I am an Australian Permanent Resident</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio1" value="option1" name="radioInline1">
            <label for="inlineRadio1">Yes, I am a New Zealand citizen</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2" name="radioInline1" checked>
            <label for="inlineRadio2">Yes, I have a current Work Permit or Visa</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio1" value="option1" name="radioInline1">
            <label for="inlineRadio1">No, I do not have a current Work Permit or Visa</label>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label">In what country was your current passport issued?</label>
        <input id="title" class="col-md-6 form-control" type="text" value=""/>
    </div>
    <div class="form-group">
        <label for="title" class="control-label">Please provide your Passport number</label>
        <input id="title" class="col-md-6 form-control" type="text" value=""/>  
    </div>
    <div class="form-group">
        <label for="title" class="control-label">Please enter your Date of Birth</label>
        <input id="title" class="col-md-6 form-control" type="date" value="01/05/1980"/>  
    </div>
    <div class="form-group">
        <label class="control-label required">Are you currently authorised to work in Australia?</label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio1" value="option1" name="radioInline1">
            <label for="inlineRadio1">Less than 20 hours per week or 40 hours a fortnight</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2" name="radioInline1">
            <label for="inlineRadio2">Any number of hours per week</label>
        </div>
    </div>  
    <div class="form-group">
        <label class="control-label">Please confirm the type of work Visa that applies to you.</label>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio1" value="option1" name="radioInline1">
            <label for="inlineRadio1">Bridging</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2" name="radioInline1">
            <label for="inlineRadio2">Working Holiday</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2" name="radioInline1">
            <label for="inlineRadio2">Student</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" id="inlineRadio2" value="option2" name="radioInline1">
            <label for="inlineRadio2">Other</label>
        </div>
    </div>      
</section>    
