<p>
  <a href="#" class="link-alt mr-4">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Copy job" class="gel-icon-copy gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt mr-4">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Notes" class="gel-icon-notes gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt mr-4">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Invite" class="gel-icon-add-user gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt mr-4">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Preview" class="gel-icon-preview gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt mr-4">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Close job" class="gel-icon-close-app gel-icon-lg"></i>
  </a>
</p>
<ul class="nav nav-tabs-line" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#my-task" role="tab" aria-controls="home" aria-selected="true">Details
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#assiged-to-me" role="tab" aria-controls="profile" aria-selected="false">Applications
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#assiged-to-me" role="tab" aria-controls="profile" aria-selected="false">Sourcing
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#assiged-to-me" role="tab" aria-controls="profile" aria-selected="false">Notes
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane show active" id="i-btn-1" role="tabpanel" aria-labelledby="home-tab">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="i-btn-2" role="tabpanel" aria-labelledby="profile-tab"></div>
</div>