<article class="px-3">
  <a href="#" class="link-alt text-muted mr-4" aria-label="Copy job">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Copy job" class="gel-icon-copy gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt text-muted mr-4" aria-label="Notes">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Notes" class="gel-icon-notes gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt text-muted mr-4" aria-label="Invite">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Invite" class="gel-icon-user-add gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt text-muted mr-4" aria-label="Preview">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Preview" class="gel-icon-eye gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt text-muted mr-4" aria-label="Close job">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Close job" class="gel-icon-app-close gel-icon-lg"></i>
  </a>
  <a href="#" class="link-alt text-muted mr-4" aria-label="Cost">
    <i data-toggle="tooltip" data-placement="bottom" data-original-title="Cost" class="gel-icon-cost gel-icon-lg"></i>
  </a>
</article>
<nav class="nav nav-tabs-line" role="tablist">
  <a class="nav-link active" data-toggle="tab" href="#i-btn-details-<?php echo ($x) ?>" role="tab" aria-controls="Details" aria-selected="true">Details
  </a>

  <a class="nav-link" data-toggle="tab" href="#i-btn-applications-<?php echo ($x) ?>" role="tab" aria-controls="Applications" aria-selected="false">Applications
  </a>

  <a class="nav-link" data-toggle="tab" href="#i-btn-sourcing-<?php echo ($x) ?>" role="tab" aria-controls="Sourcing" aria-selected="false">Sourcing
  </a>

  <a class="nav-link" data-toggle="tab" href="#i-btn-notes-<?php echo ($x) ?>" role="tab" aria-controls="Notes" aria-selected="false">Notes
  </a>
</nav>
<div class="tab-content">
  <div class="tab-pane active" id="i-btn-details-<?php echo ($x) ?>" role="tabpanel" aria-labelledby="details-tab">
    <dl class="row mb-0">
      <dt class="col-sm-5 text-14">Requisition number:</dt>
      <dd class="col-sm-7">5417283</dd>
      <dt class="col-sm-5 text-14">Type:</dt>
      <dd class="col-sm-7">Requisition</dd>
      <dt class="col-sm-5 text-14">Position:</dt>
      <dd class="col-sm-7">2</dd>
      <dt class="col-sm-5 text-14">Region Group:</dt>
      <dd class="col-sm-7">East and South Africa Region (ESAR)</dd>
      <dt class="col-sm-5 text-14">Duty station:</dt>
      <dd class="col-sm-7">Mogadishu</dd>
      <dt class="col-sm-5 text-14">Status:</dt>
      <dd class="col-sm-7">
        <a href="#">Approval of Appointment</a>
      </dd>
      <dt class="col-sm-5 text-14">Hiring Manager:</dt>
      <dd class="col-sm-7">
        <a href="#">Arnold Schwarzenegger</a>
      </dd>
      <dt class="col-sm-5 text-14">Recruitment Workflow:</dt>
      <dd class="col-sm-7">Regular Recruitment</dd>
    </dl>
  </div>
  <div class="tab-pane" id="i-btn-applications-<?php echo ($x) ?>" role="tabpanel" aria-labelledby="applications-tab">
    <dl>
      <dt>
        <a href="#">Incomplete</a>
        (6)
      </dt>
      <dd>
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">A&nbsp;Cannella</a>,
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">C&nbsp;Cassidy</a>,
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">D&nbsp;Wang</a>,
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">F&nbsp;Read</a>,
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">H&nbsp;Butler</a>,
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">L&nbsp;Colin</a>
      </dd>
      <dt>
        <a href="#">Online testing</a>
        (2)
      </dt>
      <dd>
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">D&nbsp;Cannella</a>,
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">W&nbsp;Cassidy</a>
      </dd>
      <dt>
        <a href="#">New</a>
        (2)
      </dt>
      <dd>
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">D&nbsp;Cannella</a>,
        <a class="link-alt" href="#" onclick="popupWindow('../pages/applicant-card')">W&nbsp;Cassidy</a>
      </dd>
    </dl>
    <p class="mb-0">
      <a class="btn btn-primary btn-sm" href="#">View all applicants</a>
    </p>
  </div>
  <div class="tab-pane" id="i-btn-sourcing-<?php echo ($x) ?>" role="tabpanel" aria-labelledby="sourcing-tab">
    <dl class="mb-0">
      <dt>Intranet:</dt>
      <dd>
        24 Aug 2018 - 2 Sep 2018 ( ACST )
      </dd>
      <dt>Website:</dt>
      <dd>24 Aug 2018 - 2 Sep 2018 ( ACST )</dd>
      <dt>SEEK:</dt>
      <dd>24 Aug 2018 - 2 Sep 2018 ( ACST )</dd>
    </dl>
  </div>
  <div class="tab-pane" id="i-btn-notes-<?php echo ($x) ?>" role="tabpanel" aria-labelledby="notes-tab">
    <ul class="timeline vh-30 overflow-y-auto scroll">
      <li class="timeline-item">
        <div class="timeline-info">
          <span>March 12, 2016</span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h5 class="timeline-title">Event Title</h5>
          <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede
            mollis pretium. Pellentesque ut neque.</p>
        </div>
      </li>
      <li class="timeline-item">
        <div class="timeline-info">
          <span>March 23, 2016</span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h5 class="timeline-title">Event Title</h5>
          <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede
            mollis pretium. Pellentesque ut neque.
          </p>
        </div>
      </li>
      <li class="timeline-item">
        <div class="timeline-info">
          <span>April 02, 2016</span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h5 class="timeline-title">Event Title</h5>
          <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede
            mollis pretium. Pellentesque ut neque.
          </p>
        </div>
      </li>
      <li class="timeline-item">
        <div class="timeline-info">
          <span>April 28, 2016</span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h5 class="timeline-title">Event Title</h5>
          <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede
            mollis pretium. Pellentesque ut neque.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>