<div class="alert alert-hint alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i aria-hidden="true" class="gel-icon-close"></i>
  </button>
  These are activities that are related to the hiring manager through the recruitment process.
</div>

<div class="card">
  <div class="row">
    <div class="col-sm-4">
      <span class="circle d-inline-flex">5</span>
      <a href="#">Jobs with applicants for review</a>
    </div>
    <div class="col-sm-4">
      <span class="circle d-inline-flex">2</span>
      <a href="#">New starters</a>
    </div>
    <div class="col-sm-4">
      <span class="circle d-inline-flex">6</span>
      <a href="#">New starter tasks</a>
    </div>
  </div>
</div>