<div class="stepper stepper-vertical">
    <div class="stepper-step complete">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Home</h5>
        <div class="stepper-info">Applications Centre where you can manage your job applications</div>
    </div>
    <div class="stepper-step complete">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Personal details</h5>
        <div class="stepper-info">Vestibulum ante ipsum primis in faucibus orci luctus et.
        </div>
    </div>
    <div class="stepper-step complete">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Application Process</h5>
        <div class="stepper-info">Ultrices posuere cubilia Curae.</div>
    </div>
    <div class="stepper-step complete">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Better Together</h5>
        <div class="stepper-info">Duis porta ipsum vitae mi bibendum bibendum.</div>
    </div>
    <div class="stepper-step active">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Residency status</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Currently Coles</h5>
        <div class="stepper-info">Duis porta ipsum vitae mi bibendum bibendum.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Availability</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Location preferences</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Preferences</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Education</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Work experience</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Applicant Statement</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Submit</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
</div>