<div class="stepper stepper-vertical">
    <div class="stepper-step complete">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Step 1</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step complete">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Step 2</h5>
        <div class="stepper-info">Vestibulum ante ipsum primis in faucibus orci luctus et.
        </div>
    </div>
    <div class="stepper-step active">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Step 3</h5>
        <div class="stepper-info">Ultrices posuere cubilia Curae.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Step 4</h5>
        <div class="stepper-info">Duis porta ipsum vitae mi bibendum bibendum.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Step 5</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Step 6</h5>
        <div class="stepper-info">Duis porta ipsum vitae mi bibendum bibendum.</div>
    </div>
    <div class="stepper-step disabled">
        <a class="stepper-dot" href="#"></a>
        <h5 class="stepper-stepnum">Step 7</h5>
        <div class="stepper-info">Lorem ipsum dolor sit amet.</div>
    </div>
</div>