<div class="scroll overflow-y-auto max-vh-70 vw-90 vw-sm-70 vw-lg-50 vw-xl-30">
  <section id="accordion-sm" class="accordion-line" role="tablist" aria-multiselectable="true">
    <article class="px-3">
      <div class="accordion-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion-sm" href="#collapse-a" aria-expanded="false" aria-controls="collapseOne">
            External Recruitment - Business Technology Services
          </a>
        </h5>
      </div>
      <div id="collapse-a" class="accordion-body collapse show" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
        <table class="table table-borderless table-sm table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Jobs</th>
              <th scope="col">Pos.</th>
              <th scope="col">Vac.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mark Otto</th>
              <td>23</td>
              <td>26</td>
              <td>8</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Larry Bird</th>
              <td>12</td>
              <td>6</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
          </tbody>
        </table>

      </div>
    </article>
    <article class="px-3">
      <div class="accordion-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-sm" href="#collapse-b" aria-expanded="false" aria-controls="collapseTwo">
            Internal Recruitment - Technology
          </a>
        </h5>
      </div>
      <div id="collapse-b" class="accordion-body collapse" role="tabpanel" aria-labelledby="headingTwo" style="" aria-expanded="false">
        <table class="table table-borderless table-sm table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Jobs</th>
              <th scope="col">Pos.</th>
              <th scope="col">Vac.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mark Otto</th>
              <td>23</td>
              <td>26</td>
              <td>8</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Larry Bird</th>
              <td>12</td>
              <td>6</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
    <article class="px-3">
      <div class="accordion-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-sm" href="#collapse-c" aria-expanded="false" aria-controls="collapseThree">
            Recruitment Support
          </a>
        </h5>
      </div>
      <div id="collapse-c" class="accordion-body collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="">

        <table class="table table-borderless table-sm table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Jobs</th>
              <th scope="col">Pos.</th>
              <th scope="col">Vac.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mark Otto</th>
              <td>23</td>
              <td>26</td>
              <td>8</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Larry Bird</th>
              <td>12</td>
              <td>6</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Jacob Thornton</th>
              <td>12</td>
              <td>4</td>
              <td>34</td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </section>
</div>