<div class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i aria-hidden="true" class="gel-icon-close"></i>
  </button>
  <h4 class="alert-heading">What is Workbench?</h4>
  <p>Do you ever receive electronic resumes via email and think whats the fastest way to get these into PageUp? Create applicant profiles with ease and in bulk with drag & drop functionality. Multiple files can be dragged and dropped in one action. The
    information that is automatically populated for an applicant include:</p>
  <ul>
    <li>The personal details - first name, last name, email address, phone number, address</li>
    <li>Education history</li>
    <li>Employment history</li>
  </ul>
  <p>Please see more information on
    <a target="_blank" class="alert-link" href="https://knowledgeportal.pageuppeople.com/recruitment/workbench/">Knowledge Portal</a>
  </p>
</div>

<div class="card">
  <form action="/upload-target" class="dropzone gel-dropzone needsclick dz-clickable">
    <div class="dz-message needsclick gray">
      <h3 class="text-muted">Drag &amp; Drop files here</h3>
      <span class="note needsclick">
        Or
        <a href="#_">browse</a>
        from local drive
      </span>
      <p>
        <small>Max 5MB in size, Word, PDF, or JPG formats</small>
      </p>
    </div>
  </form>

  <table class="table table-borderless table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Search results pages" class="d-flex justify-content-center">
    <ul class="pagination pagination-inline" role="pagination">
      <li class="page-item active">
        <a class="page-link" href="#">
          <span class="sr-only">(current)</span>
          1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" data-toggle="tooltip" data-placement="top" data-original-title="Next">
          <i class="gel-icon-angle-right gel-icon-xs"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" data-toggle="tooltip" data-placement="right" data-original-title="Last">
          <i class="gel-icon-right-end gel-icon-xs"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>