/* *************************************** *\
 *  The styling for GEL site
\* *************************************** */

.sg-hr{
  margin: 1.5rem 0;
  border-color: transparent;
}
.sg-doc {
  background: #ffc none repeat scroll 0 0;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  color: #333;
  display: block;
  min-height: 210px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.15s linear 0s;
  transform: rotate(1deg);
  margin: 15px;
}

.sg-heading{
  color: #142c52;
  display: inline-block;
  background: -webkit-linear-gradient(45deg,#0053a3,#49b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-library [class^="gel-icon-"]{
    color: #536a81;
}
.red-100 {
  background-color: #f5d1d0;
}
.red-100::before {
  content: "#f5d1d0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-900 {
  background-color: #47110f;
}
.red-900::before {
  content: "#47110f";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-200 {
  background-color: #edacab;
}
.red-200::before {
  content: "#edacab";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-800 {
  background-color: #6d1917;
}
.red-800::before {
  content: "#6d1917";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-300 {
  background-color: #e58785;
}
.red-300::before {
  content: "#e58785";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-700 {
  background-color: #93221f;
}
.red-700::before {
  content: "#93221f";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-400 {
  background-color: #dd625f;
}
.red-400::before {
  content: "#dd625f";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-600 {
  background-color: #b92b27;
}
.red-600::before {
  content: "#b92b27";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-500 {
  background-color: #D53D39;
}
.red-500::before {
  content: "#D53D39";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-100 {
  background-color: #d7c7e2;
}
.purple-100::before {
  content: "#d7c7e2";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-900 {
  background-color: #1e1427;
}
.purple-900::before {
  content: "#1e1427";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-200 {
  background-color: #c1a9d3;
}
.purple-200::before {
  content: "#c1a9d3";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-800 {
  background-color: #362345;
}
.purple-800::before {
  content: "#362345";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-300 {
  background-color: #ab8bc3;
}
.purple-300::before {
  content: "#ab8bc3";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-700 {
  background-color: #4e3363;
}
.purple-700::before {
  content: "#4e3363";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-400 {
  background-color: #956cb4;
}
.purple-400::before {
  content: "#956cb4";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-600 {
  background-color: #664282;
}
.purple-600::before {
  content: "#664282";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.purple-500 {
  background-color: #7E52A0;
}
.purple-500::before {
  content: "#7E52A0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-100 {
  background-color: #4b7fd3;
}
.pageup-100::before {
  content: "#4b7fd3";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-900 {
  background-color: black;
}
.pageup-900::before {
  content: "black";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-200 {
  background-color: #2f67c1;
}
.pageup-200::before {
  content: "#2f67c1";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-800 {
  background-color: black;
}
.pageup-800::before {
  content: "black";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-300 {
  background-color: #26549c;
}
.pageup-300::before {
  content: "#26549c";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-700 {
  background-color: #020408;
}
.pageup-700::before {
  content: "#020408";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-400 {
  background-color: #1d4077;
}
.pageup-400::before {
  content: "#1d4077";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-600 {
  background-color: #0b182d;
}
.pageup-600::before {
  content: "#0b182d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.pageup-500 {
  background-color: #142c52;
}
.pageup-500::before {
  content: "#142c52";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-100 {
  background-color: #9dafc0;
}
.slate-100::before {
  content: "#9dafc0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-900 {
  background-color: black;
}
.slate-900::before {
  content: "black";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-200 {
  background-color: #8198ae;
}
.slate-200::before {
  content: "#8198ae";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-800 {
  background-color: #0b0e11;
}
.slate-800::before {
  content: "#0b0e11";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-300 {
  background-color: #66819c;
}
.slate-300::before {
  content: "#66819c";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-700 {
  background-color: #1d252d;
}
.slate-700::before {
  content: "#1d252d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-400 {
  background-color: #536a81;
}
.slate-400::before {
  content: "#536a81";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-600 {
  background-color: #2f3c49;
}
.slate-600::before {
  content: "#2f3c49";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-500 {
  background-color: #415365;
}
.slate-500::before {
  content: "#415365";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-100 {
  background-color: #69bdff;
}
.blue-100::before {
  content: "#69bdff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-900 {
  background-color: black;
}
.blue-900::before {
  content: "black";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-200 {
  background-color: #3ba9ff;
}
.blue-200::before {
  content: "#3ba9ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-800 {
  background-color: #001626;
}
.blue-800::before {
  content: "#001626";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-300 {
  background-color: #0d95ff;
}
.blue-300::before {
  content: "#0d95ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-700 {
  background-color: #002f54;
}
.blue-700::before {
  content: "#002f54";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-400 {
  background-color: #007dde;
}
.blue-400::before {
  content: "#007dde";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-600 {
  background-color: #004982;
}
.blue-600::before {
  content: "#004982";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-500 {
  background-color: #0063b0;
}
.blue-500::before {
  content: "#0063b0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-100 {
  background-color: #9ee2ff;
}
.light-blue-100::before {
  content: "#9ee2ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-900 {
  background-color: #00202d;
}
.light-blue-900::before {
  content: "#00202d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-200 {
  background-color: #70d4ff;
}
.light-blue-200::before {
  content: "#70d4ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-800 {
  background-color: #00405b;
}
.light-blue-800::before {
  content: "#00405b";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-300 {
  background-color: #42c7ff;
}
.light-blue-300::before {
  content: "#42c7ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-700 {
  background-color: #006089;
}
.light-blue-700::before {
  content: "#006089";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-400 {
  background-color: #14b9ff;
}
.light-blue-400::before {
  content: "#14b9ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-600 {
  background-color: #0081b7;
}
.light-blue-600::before {
  content: "#0081b7";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-500 {
  background-color: #00a1e5;
}
.light-blue-500::before {
  content: "#00a1e5";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-100 {
  background-color: #ffd3b8;
}
.orange-100::before {
  content: "#ffd3b8";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-900 {
  background-color: #471b00;
}
.orange-900::before {
  content: "#471b00";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-200 {
  background-color: #ffb78a;
}
.orange-200::before {
  content: "#ffb78a";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-800 {
  background-color: #752d00;
}
.orange-800::before {
  content: "#752d00";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-300 {
  background-color: #ff9b5c;
}
.orange-300::before {
  content: "#ff9b5c";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-700 {
  background-color: #a33f00;
}
.orange-700::before {
  content: "#a33f00";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-400 {
  background-color: #ff7e2e;
}
.orange-400::before {
  content: "#ff7e2e";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-600 {
  background-color: #d15000;
}
.orange-600::before {
  content: "#d15000";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-500 {
  background-color: #ff6200;
}
.orange-500::before {
  content: "#ff6200";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-100 {
  background-color: #8ed092;
}
.green-100::before {
  content: "#8ed092";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-900 {
  background-color: black;
}
.green-900::before {
  content: "black";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-200 {
  background-color: #6ec373;
}
.green-200::before {
  content: "#6ec373";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-800 {
  background-color: #091509;
}
.green-800::before {
  content: "#091509";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-300 {
  background-color: #4eb554;
}
.green-300::before {
  content: "#4eb554";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-700 {
  background-color: #163518;
}
.green-700::before {
  content: "#163518";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-400 {
  background-color: #3e9644;
}
.green-400::before {
  content: "#3e9644";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-600 {
  background-color: #245626;
}
.green-600::before {
  content: "#245626";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-500 {
  background-color: #317635;
}
.green-500::before {
  content: "#317635";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-100 {
  background-color: #97a3b9;
}
.grey-100::before {
  content: "#97a3b9";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-900 {
  background-color: black;
}
.grey-900::before {
  content: "black";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-200 {
  background-color: #7b8ba7;
}
.grey-200::before {
  content: "#7b8ba7";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-800 {
  background-color: #060709;
}
.grey-800::before {
  content: "#060709";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-300 {
  background-color: #627392;
}
.grey-300::before {
  content: "#627392";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-700 {
  background-color: #181d24;
}
.grey-700::before {
  content: "#181d24";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-400 {
  background-color: #4f5e76;
}
.grey-400::before {
  content: "#4f5e76";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-600 {
  background-color: #2b3240;
}
.grey-600::before {
  content: "#2b3240";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.grey-500 {
  background-color: #3D485B;
}
.grey-500::before {
  content: "#3D485B";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.swatches {
  margin-bottom: 30px;
}

.swatch-title {
  padding: 12px;
  text-transform: capitalize;
  color: white;
}
.swatch-title h3 {
  margin: 0 0 50px;
  font-size: inherit;
  color: white;
}

.color-swatch:nth-child(n+7) {
  color: #fff;
}

.color-swatch {
  box-sizing: border-box;
  padding: 12px;
  display: block;
  color: #000;
}
