/* *************************************** *\
 *  The styling for GEL site
\* *************************************** */
@font-face {
  font-family: "BLOKK";
  src: url("fonts/BLOKK/BLOKKNeue-Regular.eot");
  src: url("fonts/BLOKK/BLOKKNeue-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/BLOKK/BLOKKNeue-Regular.woff2") format("woff2"), url("fonts/BLOKK/BLOKKNeue-Regular.woff") format("woff"),
    url("fonts/BLOKK/BLOKKNeue-Regular.otf") format("opentype"),
    url("fonts/BLOKK/BLOKKNeue-Regular.ttf") format("truetype"),
    url("fonts/BLOKK/BLOKKNeue-Regular.svg#BLOKKRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "BLOKK";
    src: url("fonts/BLOKK/BLOKKNeue-Regular.svg") format("svg");
  }
}

.blokk * {
  font-family: "BLOKK" !important;
  color: #bac6d2;
}

.blokk * [class*=" gel-icon-"],
[class^="gel-icon-"] {
  font-family: gel-icon !important;
}

#gel-menu.sg {
  width: 250px;
  transform: translateX(0);
}

main.sg {
  padding-left: 250px;
}

.sg menu {
  background: linear-gradient(#002f53 30%, #002f53), linear-gradient(#002f53, #002f53 70%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100% !important;
}
.sg-hr {
  margin: 1.5rem 0;
  border-color: transparent;
}
.sg-doc {
  background: #ffc none repeat scroll 0 0;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  color: #333;
  display: block;
  min-height: 210px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.15s linear 0s;
  transform: rotate(1deg);
  margin: 15px;
}

.sg-heading {
  color: #0063b0;
  display: inline-block;
  /* background: -webkit-linear-gradient(45deg,#0053a3,#49b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.icon-library [class^="gel-icon-"] {
  color: #536a81;
}
.red-100 {
  background-color: #f1c2c2;
}
.red-100::before {
  content: "#F1C2C2";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-900 {
  background-color: #821e1e;
}
.red-900::before {
  content: "#821E1E";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.red-500 {
  background-color: #cd2f2f;
}
.red-500::before {
  content: "#CD2F2F";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-100 {
  background-color: #f1f4f6;
}
.slate-100::before {
  content: "#f1f4f6";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-700 {
  background-color: #2f3c49;
}
.slate-700::before {
  content: "#2f3c49";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-200 {
  background-color: #d6dde4;
}
.slate-200::before {
  content: "#d6dde4";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-300 {
  background-color: #bac6d2;
}
.slate-300::before {
  content: "#bac6d2";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-400 {
  background-color: #9eafc0;
}
.slate-400::before {
  content: "#9eafc0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-600 {
  background-color: #536a81;
}
.slate-600::before {
  content: "#536a81";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}
.slate-800 {
  background-color: #1d252d;
}
.slate-800::before {
  content: "#1d252d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.slate-500 {
  background-color: #8298ae;
}
.slate-500::before {
  content: "#8298ae";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-100 {
  background-color: #69bdff;
}
.blue-100::before {
  content: "#69bdff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-200 {
  background-color: #3ba9ff;
}
.blue-200::before {
  content: "#3ba9ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-800 {
  background-color: #001626;
}
.blue-800::before {
  content: "#001626";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-300 {
  background-color: #0d95ff;
}
.blue-300::before {
  content: "#0d95ff";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-700 {
  background-color: #002f54;
}
.blue-700::before {
  content: "#002f54";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-400 {
  background-color: #007dde;
}
.blue-400::before {
  content: "#007dde";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-600 {
  background-color: #004982;
}
.blue-600::before {
  content: "#004982";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.blue-500 {
  background-color: #0063b0;
}
.blue-500::before {
  content: "#0063b0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-100 {
  background-color: #c0e6f8;
}
.light-blue-100::before {
  content: "#C0E6F8";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-900 {
  background-color: #0c4c6b;
}
.light-blue-900::before {
  content: "#0C4C6B";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.light-blue-500 {
  background-color: #1aa5e6;
}
.light-blue-500::before {
  content: "#1AA5E6";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-100 {
  background-color: #fcebbe;
}
.orange-100::before {
  content: "#FCEBBE";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-900 {
  background-color: #775603;
}
.orange-900::before {
  content: "#775603";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-500 {
  background-color: #fac238;
  color: #343a40 !important;
}
.orange-500::before {
  content: "#FAC238";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-100 {
  background-color: #d9f3d2;
}
.green-100::before {
  content: "#D9F3D2";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-900 {
  background-color: #1a4412;
}
.green-900::before {
  content: "#1A4412";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.green-500 {
  background-color: #328423;
}
.green-500::before {
  content: "#328423";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
  font-size: 1rem;
}

.swatches {
  margin-bottom: 30px;
}

.swatch-title {
  padding: 12px;
  text-transform: capitalize;
  color: white;
}
.swatch-title h3 {
  margin: 0 0 50px;
  font-size: inherit;
  color: white;
}

.color-swatch:nth-child(n + 7) {
  color: #fff;
}

.color-swatch {
  box-sizing: border-box;
  padding: 12px;
  display: block;
  color: #000;
}

#gel-drawer {
  width: 300px;
  height: calc(100vh - 9rem);
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1031;
  border-left: 1px solid #ddd;
  padding: 1rem;
  transform: translateX(95%);
  transition: transform 0.3s ease-in 0s;
}
#gel-drawer #gel-drawer-knob:before {
  content: "\E938";
  font-family: "gel-icon";
  font-size: 1.5rem;
}
#gel-drawer.open {
  transform: translateX(0);
  box-shadow: -3px 3px 10px #ddd;
}
#gel-drawer.open #gel-drawer-knob:before {
  content: "\E939";
  font-family: "gel-icon";
  font-size: 1.5rem;
}
#gel-drawer-knob {
  margin-left: -3rem;
}
.drawer-inner {
  max-height: 100%;
  overflow-x: scroll;
}
