/* *************************************** *\
 *  The styling for blokk
 \* *************************************** */
@font-face {
  font-family: "BLOKK";
  src: url("fonts/BLOKK/BLOKKNeue-Regular.eot");
  src: url("fonts/BLOKK/BLOKKNeue-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BLOKK/BLOKKNeue-Regular.woff2") format("woff2"), url("fonts/BLOKK/BLOKKNeue-Regular.woff") format("woff"), url("fonts/BLOKK/BLOKKNeue-Regular.otf") format("opentype"), url("fonts/BLOKK/BLOKKNeue-Regular.ttf") format("truetype"), url("fonts/BLOKK/BLOKKNeue-Regular.svg#BLOKKRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "BLOKK";
    src: url("fonts/BLOKK/BLOKKNeue-Regular.svg") format("svg"); } }

html {
  scroll-behavior: smooth; }

.blokk * {
  font-family: "BLOKK" !important;
  color: #bac6d2 !important;
  word-spacing: -1rem; }

.blokk * [class*=" gel-icon-"], [class^="gel-icon-"] {
  font-family: gel-icon !important; }

.blokk .radio label, .blokk .checkbox > label {
  font-family: "BLOKK" !important; }

.blokk .viewport-detector * {
  font-family: inherit !important;
  word-spacing: normal;
  color: #1d262d !important; }
/* *************************************** *\
 *  The styling for GELMock site
 \* *************************************** */
.lead {
  line-height: 1.2; }

#gel-navbar, #gel-header, .position-sticky {
  position: -webkit-sticky; }

#gel-navbar, #gel-header {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }

.toc {
  transition: all 0.3s ease 0s; }
  .toc ol {
    border-left: solid 1px #bac6d2; }
    .toc ol li > a.active {
      border-left: 3px solid #0063b0;
      margin-left: -2px;
      color: #0063b0 !important; }

.timeline {
  height: calc(100vh - 152px);
  overflow: auto;
  display: block; }

.gel-doc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px; }
  .gel-doc-nav {
    grid-column-start: 1;
    justify-self: end; }
    @media (max-width: 1199.98px) {
  .gel-doc-nav {
    justify-self: start;
    grid-column: 1/2; }
    .open .gel-doc-nav {
      display: none; } }
    @media (max-width: 991.98px) {
  .gel-doc-nav {
    display: none; } }
    @media print {
  .gel-doc-nav {
    display: none; } }
  .gel-doc-main {
    grid-column: 2/4;
    justify-self: center;
    max-width: 720px;
    transition: all 0.5s ease 0s; }
    @media (max-width: 1199.98px) {
  .gel-doc-main {
    grid-column: 2/5; }
    .open .gel-doc-main {
      grid-column: 1/3; } }
    @media (max-width: 991.98px) {
  .gel-doc-main {
    grid-column: 1/5; }
    .open .gel-doc-main {
      display: none; } }
    @media print {
  .gel-doc-main {
    grid-column: 1/5;
    justify-self: normal; } }
  .gel-doc-section {
    transition: all 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
    .gel-doc-section:focus-within {
      box-shadow: -5px 0 0 0rem #0063b0;
      border-color: #0063b0;
      transform: scale(1.01);
      outline: 0; }
    .gel-doc-section:focus {
      box-shadow: -5px 0 0 0rem #0063b0;
      border-color: #0063b0;
      transform: scale(1.01);
      outline: 0; }
  .gel-doc-aside {
    grid-column: 4/5;
    margin: -2rem -1rem -2rem 0;
    transform: translateX(100%);
    transition: all 0.5s ease 0s;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: calc(100vh - 130px); }
    .gel-doc-aside .knob {
      position: absolute;
      z-index: 1;
      top: 0.5rem;
      left: 1rem; }
    .open .gel-doc-aside {
      transform: translateX(0); }
    @media (max-width: 1199.98px) {
  .gel-doc-aside {
    display: none;
    grid-column: 3/5;
    height: calc(100vh - 77px - 60px); }
    .open .gel-doc-aside {
      display: block; } }
    @media (max-width: 991.98px) {
  .open .gel-doc-aside {
    margin: 0;
    position: fixed;
    top: 0 !important;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 100vw; } }
  .gel-doc-footer {
    transition: all 0.5s ease 0s;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    grid-column: 1/5;
    margin: 0 -15px -2rem -15px;
    background-color: white;
    border-top: 1px solid #bac6d2;
    padding: 0.5rem 0; }
    .open .gel-doc-footer {
      grid-column: 1/4;
      margin-right: -30px; }
    @media (max-width: 1199.98px) {
  .open .gel-doc-footer {
    grid-column: 1/3;
    margin-right: -30px; } }
/* *************************************** *\
 *  The styling for Print
 \* *************************************** */
@media print {
  body::after {
    content: "PageUp";
    display: block;
    text-align: center; }

  h1, h2, h3, h4, h5, h6, th {
    font-weight: 700; }

  a::after {
    content: " (" attr(href) ")"; }

  .position-sticky {
    position: -webkit-static !important;
    position: static !important; }

  input.form-control, select.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #bac6d2;
    padding: 0;
    background: none; }

  .gel-doc-section {
    border: 0;
    padding: 0; } }
