<ul>
  <li class="submenu">
    <h5>Dashboard</h5>
    <ul>
      <li>
        <a href="recruitment-dashboard">Recruiter Dashboard</a>
      </li>
      <li>
        <a href="#">CRM Dashboard</a>
      </li>
    </ul>
  </li>
  <li class="submenu">
    <h5>Jobs</h5>
    <ul>
      <li>
        <a href="#">New job</a>
      </li>
      <li>
        <a href="#">New contractor job</a>
      </li>
      <li>
        <a href="#">My panel jobs</a>
      </li>
      <li>
        <a href="#">Manage jobs</a>
      </li>
      <li>
        <a href="jobs">My jobs</a>
      </li>
      <li>
        <a href="#">My sourced jobs</a>
      </li>
      <li>
        <a href="#">My job approvals</a>
      </li>
      <li>
        <a href="#">Manage job templates</a>
      </li>
      <li>
        <a href="#">Manage forms</a>
      </li>

    </ul>
  </li>
  <li class="submenu">
    <h5>Applicants</h5>
    <ul>
      <li>
        <a href="#">New applicant</a>
      </li>
      <li>
        <a href="#">Applicant search</a>
      </li>
      <li>
        <a href="#">Talent search</a>
      </li>
      <li>
        <a href="#">Manage applicant pool</a>
      </li>
      <li>
        <a href="#">Manage applications</a>
      </li>
      <li>
        <a href="#">My applicants</a>
      </li>
      <li>
        <a href="#">Shortlisted applicants</a>
      </li>
      <li>
        <a href="#">Manage offer approvals</a>
      </li>
      <li>
        <a href="#">My new starters</a>
      </li>
      <li>
        <a href="#">My new starter tasks</a>
      </li>
      <li>
        <a href="#">My contracts</a>
      </li>
      <li>
        <a href="#">Manage reference check requests</a>
      </li>
      <li>
        <a href="#">Communication centre</a>
      </li>
    </ul>
  </li>
  <li class="submenu">
    <h5>Assessments</h5>
    <ul>
      <li>
        <a href="#">Menu item one</a>
      </li>
      <li>
        <a href="#">Menu item two</a>
      </li>
      <li>
        <a href="#">Menu item three</a>
      </li>
      <li>
        <a href="#">Menu item four</a>
      </li>
    </ul>
  </li>
  <li class="submenu">
    <h5>Event</h5>
    <ul>
      <li>
        <a href="#">Menu item one</a>
      </li>
      <li>
        <a href="#">Menu item two</a>
      </li>
      <li>
        <a href="#">Menu item three</a>
      </li>
      <li>
        <a href="#">Menu item four</a>
      </li>
    </ul>
  </li>
  <li class="submenu">
    <h5>More</h5>
    <ul>
      <li>
        <a href="#">Menu item one</a>
      </li>
      <li>
        <a href="#">Menu item two</a>
      </li>
      <li>
        <a href="#">Menu item three</a>
      </li>
      <li>
        <a href="#">Menu item four</a>
      </li>
    </ul>
  </li>
</ul>