<ul>
  <li class="submenu">
    <h4>About Me</h4>
    <ul>
      <li><a href="#">Journal</a></li>
      <li><a href="#">Development plan</a></li>
      <li><a href="#">Tasks</a></li>
      <li><a href="#">Performance reviews</a></li>
      <li><a href="#">360 reviews</a></li>
      <li><a href="#">360 tasks</a></li>
    </ul>
  </li>
  <li class="submenu">
    <h4>My Team</h4>
    <ul>
      <li><a href="#">Organisational chart</a></li>
      <li><a href="#">Team details</a></li>
      <li><a href="#">Team development</a></li>
      <li><a href="#">Talent review 9 box</a></li>
      <li><a href="#">Talent review</a></li>
      <li><a href="#">Performance reviews</a></li>
      <li><a href="#">360 reviews</a></li>
      <li><a href="#">Succession plans</a></li>
    </ul>
  </li>
  <li class="submenu">
    <h4>My Community</h4>
    <ul>
      <li><a href="#">All succession plans</a></li>
      <li><a href="#">Learning library</a></li>
      <li><a href="#">Learning calendar</a></li>
      <li><a href="#">Search employees</a></li>
    </ul>
  </li>
  <li class="submenu">
    <h4>My links</h4>
    <ul>
      <li><a href="#">Menu item one</a></li>
      <li><a href="#">Menu item two</a></li>
      <li><a href="#">Menu item three</a></li>
      <li><a href="#">Menu item four</a></li>
    </ul>
  </li>
</ul>
