<ul>
  <li class="submenu">
    <h4>Dashboard</h4>
    <ul>
      <li><a href="rc">My Home</a></li>
    </ul>
  </li>
  <li class="submenu">
    <h4>My Jobs</h4>
    <ul>
      <li><a href="jc">New requisition</a></li>
      <li><a href="jc">New contractor requisition</a></li>
      <li><a href="jl">Requisitions open</a></li>
      <li><a href="jl">Advertisements</a></li>
      <li><a href="jl">Assigned applications</a></li>
      <li><a href="jl">Interviews</a></li>
    </ul>
  </li>
  <li class="submenu">
    <h4>Events</h4>
    <ul>
      <li><a href="jc">New event</a></li>
      <li><a href="jc">Manage events</a></li>
    </ul>
  </li>
  <li class="submenu">
    <h4>More</h4>
    <ul>
      <li><a href="jc">Reports</a></li>
      <li><a href="jc">Settings</a></li>
    </ul>
  </li>
</ul>