<article class="user-menu">
  <header id="user-menu-hd" class="margin-bottom-none collapsed" data-toggle="collapse" data-target="#user-menu-ft">
    <img class="avatar avatar-sm" src="<?php echo ($resURL) ?>images/avatar.svg" alt="John's profile"/>
    <strong>
      John Smith
    </strong>
  </header>
  <footer id="user-menu-ft" class="collapse">
    <p>
      <button type="button" class="btn btn-sm btn-primary btn-block">
        View Profile</button>
    </p>
    <p>
      <button type="button" class="btn btn-sm btn-light btn-block">
        Log out</button>
    </p>
    <p>
      <span>BETA</span>
      <span class="toggle toggle-purple d-inline-block">
        <label>
          <input type="checkbox">
          <span></span>
        </label>
      </span>
      <a class="d-block no-padding" href="#">
        Give beta feedback</a>
    </p>
  </footer>
</article>