<article class="user-menu">
  <header id="user-menu-hd" class="margin-bottom-none collapsed" data-toggle="collapse" data-target="#user-menu-ft">
    <img class="gel-avatar gel-avatar-sm" src="<?php echo ($resURL) ?>images/avatar.svg" alt="John's profile" />
    <strong> John Smith </strong>
  </header>
  <footer id="user-menu-ft" class="collapse">
    <p><button type="button" class="btn btn-sm btn-info btn-block btn-round"> View Profile</button></p>
    <p><i class="fa fa-lg fa-sign-out"></i> <a class="no-padding" href="#"> Log out </a></p>
    <p>
      <i class="gel-icon-beta"></i> <a class="no-padding" href="#">Beta feedback</a>
      <span class="gel-toggle-btn gel-toggle-btn-green">
        <label>
            <input type="checkbox">
            <span></span>
      </label>
      </span>
    </p>
  </footer>
</article>