<li id="nav-help" class="nav-help nav-item">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="gel-icon-help gel-icon-lg" aria-hidden="true"></i></a>
  <div class="dropdown-menu">
    <a href="#" class="dropdown-item" title="Print"><i class="gel-icon-print"></i> Print </a>
    <a href="#" class="dropdown-item" title="Feedback"><i class="gel-icon-feedback" ></i> Feedback</a>
    <a href="#" class="dropdown-item" title="Knowledge portal"><i class="gel-icon-knowledge-portal"></i> Knowledge portal</a>
    <a href="#" class="dropdown-item" title="Live support"><i class="gel-icon-support"></i> Live Support</a>
    <a href="#" class="dropdown-item" title="Raise support case"><i class="gel-icon-bullhorn"></i> Raise support case</a>
  </div>
</li>