<li id="nav-user-panel" class="nav-item user-panel">
  <a class="nav-link avatar dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><img class="gel-avatar gel-avatar-sm" src="<?php echo ($resURL) ?>images/avatar.svg" alt="John's profile"> John </a>
  <div class="dropdown-menu user-menu">
    <!-- User name -->
    <header class="user-header">
      <h5 class="margin-bottom-none">John Smith</h5>
      <p>
        <small>john.smith@pageuppeople.com</small>
      </p>
      <p><button type="button" class="btn btn-sm btn-primary btn-block"> View Profile</button></p>
    </header>
    <footer>
      <p>
        <button type="button" class="btn btn-sm btn-light btn-block">Log out</button>
      </p>
      <p>
        <span>BETA</span>
        <span class="toggle toggle-purple d-inline-block">
          <label>
              <input type="checkbox">
              <span></span>
        </label>
        </span>
        <a class="d-block no-padding" href="#"> Give beta feedback</a>
      </p>
    </footer>
  </div>
</li>