<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Before your first day</option>
      <option>Your first day</option>
      <option>Your first 2 weeks</option>
      <option>Your first 6 months</option>
      <option>The end of your first 6 months</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Due date</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Content</label>
    <script type="text/javascript" src="https://ui.pageuppeople.com/libs/scribble/scribble.js" charset="UTF-8" async="async"></script>
    <textarea style="visibility: hidden;" pageup-scribble="pageup-scribble"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Activity type</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Select</option>
      <option>type one</option>
      <option>type two</option>
      <option>type three</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Task allocated to</label>
    <div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Both</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Manager</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3">Employee</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
    </div>
  </div>
</form>